.heading-container {
  background-color: rgb(229, 237, 241);
}

.heading-image {
  height: 75vh;
  background-image: url('../assets/img/background-1.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.typed-intro {
  position: absolute;
  top: 40%;
  left: 6%;
  font-size: 2rem;
  color: rgb(11, 29, 78);
}

/* rgba(21, 26, 21, 0.3) */
