.heading-container {
  background-color: rgb(229, 237, 241);
}

.heading-image {
  height: 75vh;
  background-image: url('../assets/img/background-2.jpg');
  // background-position: bottom;
  background-position: center;
  background-size: cover;
}

/* rgba(21, 26, 21, 0.3) */
