.heading-container {
  background-color: rgb(229, 237, 241);
}

.heading-image {
  height: 75vh;
  background-image: url('../assets/img/background-1.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.typed-intro {
  position: absolute;
  top: 40%;
  left: 6%;
  font-size: 2rem;
  color: rgb(11, 29, 78);
}

.card-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-container .card {
  width: 30%;
  height: 14rem;
  margin-top: -2rem;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 7px;
  padding: 1rem;
  text-align: center;
}

/* rgba(21, 26, 21, 0.3) */
