/* ============ Color variables ============ */
$color-darker-blue: rgb(11, 29, 78);
$color-dark-blue: rgb(27, 63, 158);
$color-light-blue: rgb(78, 156, 245);
$color-lighter: rgb(148, 199, 247);

$color-background-lightest-blue: rgb(229, 237, 241);
$color-background-blue: rgba(15, 147, 180, 0.829);
$color-background-white: rgba(255, 255, 255, 0.8);

$color-box-shadow: rgba(0, 0, 0, 0.1);
