.profile-parent-div {
  display: flex;
  flex-direction: row;

  & .profile-requests {
    width: 70%;
    height: 73em;
  }

  & .profile-info {
    width: 30%;
    height: 65vh;
  }
}

.view-request-accept-request a {
  color: #1f971f !important;
}

.view-request-accept-request:hover a {
  color: #fff !important;
}

.profile-own-requests-container,
.profile-accepted-requests-container {
  height: 34em;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;

  & .profile-card {
    margin: 1em;
    width: 43%;
  }
}

@media screen and (max-width: 850px) and (min-width: 480px) {
  .profile-own-requests-container,
  .profile-accepted-requests-container {
    overflow-y: scroll;
    overflow-x: hidden;

    & #profile-mobile-card {
      width: 80% !important;
    }
  }

  .profile-parent-div {
    display: flex;
    flex-direction: row;

    & .profile-info {
      width: 40%;
      height: 65vh;
    }

    & .profile-requests {
      width: 60%;
    }
  }
}

@media screen and (max-width: 480px) {
  .profile-parent-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .profile-info {
      width: 95%;
      height: auto;
    }

    & .profile-requests {
      width: 95%;

      & .profile-card {
        width: 100%;
      }
    }
  }
}
